@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
body {
background: $bg;
font-family: $font;
}

header{
  width:100%;
}
#container{
  width: 100%;
  // display:inline-block;
}

ul{
  text-align: left;
  padding: 15%;

  li{
    display:inline;

  }
}

ol{

  text-align: left;
  padding: 15%;

  li{
    display:inline;

  }

}

h1{
  font-size: $h1size;
  margin: auto;
  text-align: left;
  font-family: 'Gochi Hand', Helvetica, sans-serif;

}

h2{

}

p{

}
