@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
background: $bg;
font-family: $font;
}

header{
  width:100%;
}
#container{
  width: 100%;
  // display:inline-block;
}

ul{
  text-align: left;
  padding-left: 20%;


  li{
    font-size: 16pt;
    font-family: 'Questrial', Arial, sans-serif;

  }
}

ol{

  text-align: left;
  margin: auto;

  li{
    // display:inline;
    font-size: 16pt;
    font-family: 'Questrial', Arial, sans-serif;

  }

}

h1{
  font-size: $h1size;
  margin: auto;
  text-align: left;
  font-family: 'Gochi Hand', Helvetica, sans-serif;

}

h2{
  font-family: $font;

}

p{
  font-size: 16pt;
  font-family: 'Questrial', Arial, sans-serif;


}

h3{
  font-family: $font;
  size:3em;
  text-align:center;
  background-color: $custom-orange;
  color:white;
  padding: 10px;

}
