#infobox{

	width:100%;
	max-width:960px;
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;

	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	align-content:flex-start;
	align-items:stretch;



}

.fullwidth{


	margin:2%;
	width:96%;
	padding:2%;
	box-sizing:border-box;

	border-radius: 25px;
  	border: 2px solid rgb(56,82,164);
 	padding: 20px;

}

.halfwidth{
	background-color:rgb(180,180,180);
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing: border-box;

	border-radius: 25px;
  	border: 2px ;
 	padding: 20px;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . aside"
    "aside aside aside aside"
    "footer footer footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
