.parallax_img {
height: 500px;
background-image: url('http://placehold.it/500x500/');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100% auto;
}

.parallax_img2 {
background-image: url("../dist/img/dog.jpg");

}

.parallax_dog {
height: 500px;
background-image: url("../dist/img/dog.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100% auto;

}

.parallax_bg1{
  height: 2000px;
  background: url("../dist/img/flatirons.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 768px) {
.parallax_img {
  background-attachment: inherit;
}
}

// Magic parallax mixins

$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : true !default;

@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;//gives perspective. changing the # changes the parallax experience
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px) //calculates depth
    scale(abs($distance - 1))//further you push things back, the more it is scaled up
  ;
  z-index: $distance * 1000;
}

// End of magic parallax mixins



//css that works w the html
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
// $primary: #1586D1;

@include parallax-init;

.parallax_dog{
  @include parallax(0.2);
  background: url("../dist/img/dog.jpg");
  top:600px;
  right:50px;
  max-width: 50px;
  margin: auto;
  position: absolute;
}

.parallax-container1{
  @include parallax(.1);
  top: 200px;
  left: 200px;
  max-width: 50%;
  padding: 20px;
  margin:auto;
  position: absolute;
  background-color: orange;
  color: black;
}

// .parallax-container {
//   :nth-child(1) {
//     @include parallax(-.4);
//     top: 200px;
//     left: 200px;
//   }
//   :nth-child(2) {
//     @include parallax(.2); //level/number pushes the depth here
//     top: 200px;
//     left: 500px;
//   }
//   :nth-child(3) {
//     @include parallax(.3);
//     top: 400px;
//     left: 600px;
//   }
//   :nth-child(4) {
//     @include parallax(.1);
//     top: 500px;
//     left: 500px;
//   }
//   :nth-child(5) {
//     @include parallax(-2);
//     top: 2000px;
//     left: 2000px;
//   }
//   :nth-child(6) {
//     @include parallax(.4);
//     top: 600px;
//     left: 300px;
//   }
//   :nth-child(7) {
//     @include parallax(-1);
//     top: 400px;
//     left: 1000px;
//   }
//   :nth-child(8) {
//     @include parallax(-.4);
//     top: 100px;
//     left: 1400px;
//   }
//   :nth-child(9) {
//     @include parallax(.4);
//     top: 900px;
//     left: 500px;
//   }
//   :nth-child(10) {
//     @include parallax(-1);
//     top: 1600px;
//     left: 100px;
//   }
//   padding: 10%;
//   max-width: 40em;
//   margin: auto;
//   > * {
//     position: absolute;
//   }
// }

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background: #EEF1F3;
  line-height: 1;
}

// h1, h2 {
//   font-weight: 100;
//   margin: 0;
//   text-align: center;
// }

// h1 {
//   font-size: 5em;
//   color: $primary;
//   text-align: center;
// }
// h2 {
//   font-size: 3em;
//   @include parallax(.2);
// }
