@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$bg: rgb(134, 118, 184);
$font: 'Montserrat', sans-serif;

$header: rgba(255,165,0,0.75);
$header-hover: rgba(255,165,0,1);
$padding: 10px;
$border: 3px;
$h1size: 3.8em;
$roundness: 20px;
$primary-color: orange;
